<img src="https://raw.githubusercontent.com/paular143/images_notebooks/master/logo-sin-nombre.png" alt="Universidad de Los Andes" style="width: 90px;" align="left" frameborder="300"/>

**UNIVERSIDAD DE LOS ANDES** <br>
**FACULTAD DE ECONOMÍA** <br>
**Taller de Python** <br>
**PROFESOR:** Germán González <br><br>

# Clase 12 Más exploración y Visualización de datos

In [10]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**El día de hoy trabajaremos con las bases de datos de E-commerce de ventas de [Olist](https://olist.com/) en Brasil. Acceda esta base de datos se encuentra en [Kaggle](https://www.kaggle.com/olistbr/brazilian-ecommerce).**

In [11]:
# Importe la base de datos olist_customers_dataset.csv para obtener los directorios de clientes.
clientes=pd.read_csv('brazilian-ecommerce/olist_customers_dataset.csv')
# Importe la base de datos olist_geolocation_dataset.csv para obtener la información espacial de [Brasil]
geo_brasil=pd.read_csv('brazilian-ecommerce/olist_geolocation_dataset.csv')
# Importe la base de datos olist_order_payments_dataset.csv para obtener información sobre los pagos.
pagos=pd.read_csv('brazilian-ecommerce/olist_order_payments_dataset.csv' )
# Importe la base de datos olist_order_items_dataset.csv para obtener la información de los productos vendidos.
ventas=pd.read_csv('brazilian-ecommerce/olist_order_items_dataset.csv' )
# Importe la base de datos olist_products_dataset.csv para obtener información de los productos.
productos=pd.read_csv('brazilian-ecommerce/olist_products_dataset.csv' )
# Importe la base de datos olist_sellers_dataset.csv para obtener la información de los vendedores.
vendedores=pd.read_csv('brazilian-ecommerce/olist_sellers_dataset.csv' )
# Importe la base de datos olist_orders_dataset.csv para obtener información de las entregas.
entregas=pd.read_csv('brazilian-ecommerce/olist_orders_dataset.csv' )
# Importe la base de datos product_category_name_translation.csv para traducir a inglés los tipos de productos
traduccion=pd.read_csv('brazilian-ecommerce/product_category_name_translation.csv')
# Juntar la base de traducción
productos=(productos.merge(traduccion))

0. ¿Cómo se distribuyo el tipo de pago? [(PIE)](https://matplotlib.org/3.1.0/api/_as_gen/matplotlib.pyplot.pie.html)

2. ¿Cómo se distribuye el volumen de ventas por tipo de producto? Realice un histograma para mostrar sus resultados.

3. En un solo gráfico muestre la distribución por tipo de pago (el gráfico circular que hizo anteriormente) y la serie de tiempo del total dinero por tipo de pago. 
   
Para la serie de tiempo realice los siguientes pasos:
   - Construya un dataframe con pagos únicos, es decir, que no se repitan los tipos de pago por orden.
   - Junte las ventas con las entregas para tener las fechas.
   - Construya un DataFrame que junte el id de la orden, la fecha y los tipos de pago. 
   - Construya la Fecha.
   - Construya la serie de tiempo para cada medio de pago. Puede usar `groupby` luego `pivot_table` o directamente `pivot_table`

In [67]:
##    - Junte las ventas con las entregas para tener las fechas.

In [68]:
ventas = ventas.merge(entregas)

In [69]:
ventas.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,product_height_cm,product_width_cm,product_category_name_english,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,9.0,14.0,cool_stuff,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,...,9.0,14.0,cool_stuff,e6eecc5a77de221464d1c4eaff0a9b64,delivered,2017-06-28 11:52:20,2017-06-29 02:44:11,2017-07-05 12:00:33,2017-07-13 20:39:29,2017-07-26 00:00:00
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,...,9.0,14.0,cool_stuff,4ef55bf80f711b372afebcb7c715344a,delivered,2018-05-18 10:25:53,2018-05-18 12:31:43,2018-05-23 14:05:00,2018-06-04 18:34:26,2018-06-07 00:00:00
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,...,9.0,14.0,cool_stuff,30407a72ad8b3f4df4d15369126b20c9,delivered,2017-08-01 18:38:42,2017-08-01 18:55:08,2017-08-02 19:07:36,2017-08-09 21:26:33,2017-08-25 00:00:00
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,...,9.0,14.0,cool_stuff,91a792fef70ecd8cc69d3c7feb3d12da,delivered,2017-08-10 21:48:40,2017-08-10 22:05:11,2017-08-11 19:43:07,2017-08-24 20:04:21,2017-09-01 00:00:00

In [70]:
#    - Construya un DataFrame que junte el id de la orden, la fecha y los tipos de pago. 

pagos_fecha = ventas.loc[:,['order_id','order_purchase_timestamp']].merge(pagos_unicos)

In [71]:
pagos_fecha.head()

,order_id,order_purchase_timestamp,payment_type,payment_value
0,00010242fe8c5a6d1ba2dd792cb16214,2017-09-13 08:59:02,credit_card,72.19
1,130898c0987d1801452a8ed92a670612,2017-06-28 11:52:20,boleto,73.86
2,532ed5e14e24ae1f0d735b91524b98b9,2018-05-18 10:25:53,credit_card,83.23
3,6f8c31653edb8c83e1a739408b5ff750,2017-08-01 18:38:42,credit_card,75.07
4,7d19f4ef4d04461989632411b7e588b9,2017-08-10 21:48:40,credit_card,72.19

4. ¿Cuánto gastó cada cliente? [(histograma)](https://matplotlib.org/3.1.0/api/_as_gen/matplotlib.pyplot.hist.html)

5. Haga el boxplot por estado de las distribuciones de precio. [(BoxPlot)](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.boxplot.html)

6. Construya la serie de tiempo del volumen diario de compras. [(gráfico de líneas)](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.plot.html#matplotlib.pyplot.plot) Explore que hacen las funciones `diff`, `shift` y  `pct_change`

7. Construya un scatter de las ventas donde el eje-x sea el peso y en el eje-y el precio del producto.

8. Repita el anterior gráfico pero el color de los puntos representará el tipo de pago.

9. Repita el anterior pero agréguele tamaños a las bolas, que representen el valor del flete

10. Construya las variables dia_llegada y dia_llegada_est que representen el día en la semana que llegó y el día en la semana que debían llegar los envios.

11. Construya un heatmap de estas dos variables. Puede usar el `imshow` o `pcolor`de matplotlib o `heatmap`de seaborn.