<img src="https://raw.githubusercontent.com/paular143/images_notebooks/master/logo-sin-nombre.png" alt="Universidad de Los Andes" style="width: 90px;" align="left" frameborder="300"/>

**UNIVERSIDAD DE LOS ANDES** <br>
**FACULTAD DE ECONOMÍA** <br>
**Taller de Python** <br>
**PROFESOR:** Germán González <br><br>

# Clase 1: Introducción Python
El objetivo de este taller es darles herramientas para que se familiaricen con los básicos de Python. 

¿Qué es y Por qué Python? 

Python es un [lenguaje de programación](https://es.wikipedia.org/wiki/Lenguaje_de_programaci%C3%B3n)
- Es el lenguaje de programación más popular del mundo en el 2020.
- Es el primero cuando se trata de temas de análisis de datos.
- Es un lenguaje de propósito general, es decir que se utiliza para muchas cosas como Machine Learning, Internet of things, creación de aplicaciones web, de escritorio y de móviles.
- Open-source
- Comunidad grande y colaborativa

### Jupyter Notebook
Los archivos de extensión *.ipynb* presentan una interfaz muy cómoda para el aprendizaje, y la colaboración. Contiene:
- Celdas de código
- Celdas de [markdown] (https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) (como esta)
- Celdas de texto crudo
- Kernel

<div class="alert alert-info">
La documentación oficial de Jupyter está  
<a href="https://jupyter-notebook.readthedocs.io/en/stable/" class="alert-link">aquí</a>
y puede encontrar algunos Notebooks didácticos 
<a href="https://github.com/jupyter/notebook/tree/master/docs/source/examples/Notebook" class="alert-link">aquí</a>
.

### Kernel
El "kernel" es lo que permite que se corran cosas en python, Jupyter es una interfaz para que los bloques de código corran dentro de una consola de python, el kernel es el que conecta esta interfaz con la parte del computador que corre el código.

El kernel también guarda **espacio de trabajo**, es decir todas las variables que se han declarado. 

Se puede reiniciar el kernel de manera rápida en la pestaña de "kernel" en el tope.

# Titulo

## Objetos básicos de Python
1. Integers
2. Float
3. Strings
4. Boolean
5. Iterables
    1. Lists
    2. Dictionaries
    3. Tuples

### Definiendo Variables
1. Defina la variable "a" como un entero cualquiera.
2. Defina la variable "b" como un entero cualquiera.
3. Defina la variable "c" como un entero cualquiera.
4. Defina la variable "mi_nombre" como la cadena de caracteres que es su nombre

Este bloque define variables

In [80]:

###### ------ Esto es un comentario ------- ####

a=3
b=6
c=7
mi_nombre="German Gonzalez"

In [81]:
print(a)
print(b)
print(c)
print(mi_nombre)

3
6
7
German Gonzalez


__<font color='darkgreen'>Actualice el valor de "a", súmele 3 y posteriormente imprímalo</font>__

In [82]:
a = a+5
print(a)

8

### Operaciones Matemáticas
Con los números se pueden realizar los siguientes tipos de operaciones:

| Operación | Resultado       |
| --------- | --------------- |
|    +      | Suma            |
|    -      | Resta           |
|    *      | Multiplicación  |
|    /      | División        |
|    //     | División entera |
|    \*\*   | Potencia        |
|     %      | Residuo        |

Imprima los siguientes cálculos
1. Divida "a" en "b"
2. Divida usando "//" interactue "a" en "b" ¿qué hace "//"?
3. Multiplique "a" y "b". 
4. Eleve "c" a la 3
5. Calcule el residuo entre "a" y "c"

In [83]:
print(a/b)
print(a//b)
print(a*b)
print(c**3)
print(a%c)

1.3333333333333333
1
48
343
1

### Operadores de asignación
1. ¿Qué hace +=?
2. ¿Qué hace -=?
3. ¿Qué hace *=?
4. ¿Qué hace /=?

In [98]:
a=2
b=5

In [99]:
a=2

In [100]:
a+=1

b =b +3 es equivalente a b+=3

In [101]:
#Este es un comentario
a-=3
b+=3
c*=5
c/=8

### Valores Booleanos (comparar valores)
1. Pregunte si "a" es mayor que "b"
2. Pregunte si "a" es mayor o igual que "a"
3. Pregunte si "a" es igual a cualquier número
4. Pregunte si "mi_nombre" es igual a "Juan Moreno"

In [105]:
print(a==6)

False

In [102]:
print(a>b)
print(a>=a)
print(a==6)
print(mi_nombre=='German Gonzalez')

False
True
False
True

1. Sume un True y un False
2. Sume dos True
3. Sume dos False

In [8]:
True + False

1

In [9]:
True + True

2

In [10]:
False + False

0

### Strings
1. ¿Qué métodos tiene un string? use `mi_nombre` y la tecla tab.
2. Cree un string que sea `nombre` y `apellido`. Súmelos
3. Multiplique por 3 la variable `nombre` e imprimala
4. Obtenga el número de caracteres en `nombre`
5. Pregunte si una cadena de caracteres está dentro su variable `nombre`
6. Extraiga el segundo y tercer caracter de `apellido`

In [167]:
texto = 'hola esto es un texto'
texto = """ "hola" esto es un 'texto' """

nombre= "Garman"
apellido="Gonzalez"
nombre + apellido

'GarmanGonzalez'

In [134]:
print(nombre*3)

GermanGermanGerman

In [135]:
len(nombre)

6

In [150]:
nombre[0:1]

'G'

In [176]:
nombre

'Garman'

1. Cree la variable "edad" y guarde su edad en ella como un entero.
2. Cree la variable "carrera" y guarde su carrera en ella como un string.
3. Imprima su presentación combinando en el _print_ strings y variables (nombre, apellido, edad y carrera).
4. Repita lo anterior usando la suma de strings.
5. Repita lo anterior usando .format()

In [177]:
edad = 25 
carrera = 'economia'
print(nombre, apellido, edad, carrera)
print(nombre + apellido + str(edad) + carrera)
print('Mi nombre es {} {}, tengo {} años y soy {}'.format(nombre, apellido, edad, carrera))

Garman Gonzalez 25 economia
GarmanGonzalez25economia
Mi nombre es Garman Gonzalez, tengo 25 años y soy economia

1. Construya `fruta` y `postre`
2. Use:
    * **upper**:Convierte toda la cadena en mayúsculas
    * **count**: Cuenta cuantas veces se repite un carácter en una cadena
    * **replace**: Reemplaza un carácter o parte de una cadena por otro carácter o cadena
    * **split**: Divide una cadena según los espacios que tenga y genera una lista de palabras.

In [182]:
fruta = 'manzana'
postre = 'brownie con helado'

print(postre.title())
print(fruta.upper())
print(fruta.count('a'))
print(fruta.replace('a','i'))
print(postre.split(' '))

Brownie Con Helado
MANZANA
3
minzini
['brownie', 'con', 'helado']

In [18]:
fruta.replace('a','i')

'minzini'

## Listas

Las listas son arreglos de datos. Se definen con corchetes, y pueden contener datos de distintos tipos (números enteros y flotantes, o también los tipos que veremos más abajo). 

1. Construya una lista llamada lista_1 que contenga las variables "a", "b", el número 0,5 y mi_nombre.
2. Extraiga e imprima el primer elemento de la lista (recuerde que en python se comienza desde la posición 0).
3. Extraiga e imprima el último elemento de la lista (recuerde que para hacer esto no es necesario saber el tamaño de la lista).
4. Extraiga e imprima los dos primeros elementos.

In [187]:
lista_1 = ['a','b',0.5, mi_nombre]
print(lista_1[0])
print(lista_1[-1])
print(lista_1[0:2])

a
German Gonzalez
['a', 'b']

Las listas son modificables, es decir, que sus elementos pueden modificarse de acuerdo a la siguiente sintaxis:

In [212]:
lista_1[2]= 10
print(lista_1)

['a', 'b', 10, 'German Gonzalez']

In [215]:
lista_1[3] = 'German'

In [216]:
lista_1

['a', 'b', 10, 'German']

**Nota:** En general la notación de rebanado en Python es de la forma ``[a:b:c]``, dónde se toman los elementos de la lista, iniciando en ``a``, hasta ``b-1`` en pasos de ``c``. Por ejemplo, de esta forma es posible tomar los elementos de una lista que se encuentran en índices pares:

In [21]:
lista_1[0::2]

['a', 10]

Finalmente cabe decir que se pueden usar las operaciones aritméticas + para concatenar dos listas, y * para repetir varias veces los elementos de una lista, así:

In [219]:
print([1,2,3] + [5,6,7])
print([1,2,3] * 3)

[1, 2, 3, 5, 6, 7]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

## Funciones internas para iterables
### Matemáticas
1. Para qué sirve _max()_
2. Para qué sirve _min()_
3. Para qué sirve _sum()_

In [233]:
lista=[16,88,33,40] # Creamos una lista arbitraria

In [234]:
abs(-100)

100

In [239]:
max(lista)

88

In [240]:
min(lista)

16

In [241]:
sum(lista)

177

### Conversión
1. Para qué sirve _float()_
2. Para qué sirve _integer()_
3. Para qué sirve _str()_
4. Para qué sirve _list()_

In [242]:
float(10)

10.0

In [249]:
int(10)

10

In [250]:
str(10)

'10'

In [256]:
list({1,2,3})

[1, 2, 3]

### Métodos de las listas
Pruebe los siguientes métodos de listas y diga para qué sirven:
1. .sort()
2. .append()
3. .remove()
4. reverse()
5. index()

In [290]:
lista=[16,88,33,40] # Creamos una lista arbitraria

In [291]:
lista

[16, 88, 33, 40]

In [292]:
lista.sort()

In [293]:
lista

[16, 33, 40, 88]

In [294]:
print(lista.sort())
print(lista)

None
[16, 33, 40, 88]

In [295]:
print(lista.append(2))
print(lista)

None
[16, 33, 40, 88, 2]

In [296]:
print(lista.remove(88))
print(lista)

None
[16, 33, 40, 2]

In [297]:
print(lista.reverse())
print(lista)

None
[2, 40, 33, 16]

In [298]:
print(lista.index(33))
print(lista)

2
[2, 40, 33, 16]

6. **Usando `_.index()_` ¿cómo podría encontrar la posición donde esté el máximo de una lista?**

In [38]:
lista.index(max(lista))

1

# Diccionarios

Los diccionarios son una estructura de datos muy usada en Python. Ya hemos visto que los elementos de listas, cadenas y tuplas están indexados por números, es decir, `li[0]`, `fruta[1]` o `tp[2]`. En su lugar, los diccionarios están indexados por *claves* (o *keys* en inglés), que pueden ser no sólo números, sino también cadenas, tuplas o cualquier otro tipo de datos que sea **inmutable**.

Lo interesante de los diccionarios es que nos sirven para relacionar dos tipos distintos de datos: las claves con sus *valores* (o *values* en inglés), que pueden ser mutables o inmutables.

Por ejemplo, supongamos que queremos guardar los códigos que varias personas están utilizando para entrar a un servicio web. Esto lo podemos hacer muy fácilmente con un diccionario, en el que las claves sean el nombre de cada persona y sus valores sean las contraseñas que estén usando.

Para ello, en Python podemos escribir algo como:

In [12]:
claves={'julian':23456789,
        'carlos':'9876$%TGFD$%54',
        'juan':'3ADFGB456789',
        'luis':'98asdfg7654'}

Como podemos ver, los diccionarios se definen con llaves (`{ }`). Las *claves*
son los elementos que están a la izquierda de los `:`, mientras que los que
están a la derecha son los *valores*.

Como ya se mencionó, para extraer un elemento de un diccionario es necesario usar alguna de sus claves. En nuestro caso, las claves son los nombres de las personas. Por ejemplo, para extraer el código que le corresponde a `Carlos` debemos escribir:

In [13]:
print(claves['carlos'])

9876$%TGFD$%54

In [9]:
claves['juan']

'9876$%TGFD$%54'

o para el de `Juan`

In [41]:
print(claves['juan'])

3ADFGB456789

Si alguien cambia de contraseña, podemos actualizar nuestro diccionario fácilmente haciendo una nueva asignación, por ejemplo:

In [17]:
claves['julian']='cfay132b'

**Nota**: Los diccionarios no tienen un orden interno por defecto. En el último ejemplo podemos ver como `'Luis'` aparece al final del diccionario,  mientras que en la primera definición de `códigos` aparecía al principio. No hay que preocuparse por ello.

O si una persona se retira del servicio, podemos eliminarla del diccionario
usando el siguiente comando:

In [18]:
del claves['julian']
print(claves)

{'carlos': '9876$%TGFD$%54', 'juan': '3ADFGB456789', 'luis': '98asdfg7654'}

Si queremos introducir el nombre y la contraseña de una nueva persona, sólo es
necesario usar una nueva clave y asignarle un valor, así

In [19]:
claves['camila'] = 'nbvdrtynytr56yghbnju7'

In [21]:
claves['german'] = 'asdadasda'

claves['manuel'] = 'clave2'

Para saber si una persona ya está en el diccionario o no, usamos el siguiente
método:

In [46]:
'Antonio' in claves.keys()

False

Finalmente, para extraer todas las claves y los valores de un diccionario podemos usar los siguientes métodos:

In [47]:
claves.keys()

dict_keys(['carlos', 'juan', 'luis', 'camila'])

In [25]:
claves.values()

dict_values(['9876$%TGFD$%54', '3ADFGB456789', '98asdfg7654', 'nbvdrtynytr56yghbnju7', 'asdadasda', 'clave2'])

# Problemas

### Problema 1

Construir una lista que tenga `100` repeticiones de los números `-1`, `0` y `1`, en ese orden exacto.

In [49]:
# Escribir la solución aquí
li=[-1,0,1]*100
print(li)

[-1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1, -1, 0, 1]

### Problema 2

Construir una lista que tenga un `1` rodeado de dos listas, cada una con `20` ceros.

In [30]:
# Escribir la solución aquí
li=[0]*20+[1]+[0]*20
print(li)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

### Problema 3

¿Cuántas veces se repite la palabra `banano` en la siguiente cadena? (independiente que hayan mayúsculas):

In [50]:
muchas_frutas = 'banAnobanAnobananobanaNobananobananobanaNobaNanobanano\
bananobananobaNanobananobananobaNanobAnanobananobananobanaNobananobanAno\
bananobananobanaNobananobananobananobananobananobananobananobananobAnAno\
bAnanobananobananobananobananobananobanANobananobananobanaNobananobanano\
bananobanaNobAnAnobananobananobananobananobananobAnAnobananobananobanano\
baNanobananobananobaNaNobananobANanobananobananobananobAnanobananobanano\
bananobananobAnanobananobaNAnobananobananobananobaNanobanaNobANanobanano\
baNanobananobananobAnanobananobananobananobaNAnobananobanANobananobAnano\
bANanobanAnobananobaNanobananobananobananobananobananobananobAnanobanano\
bananobanAnobananobananobanAnobananobananobananobanAnobananobananobaNano\
bAnanobananobAnanobaNanobananobanaNobananobananobanANobananobananobANAno\
bananobananobaNAnobanaNobAnanobanAnobananobananobanAnobaNanobananobanaNo\
banaNobANAnobananobananobanAnobananobananobanANobananobanAnobananobanano\
banaNobananobAnanobananobAnanobananobanANobananobananobanAnobanaNobanano\
bananobAnanobananobaNanobananobanANobananobananobananobaNAnobananobanAno\
bananobananobananobaNanobananobananobanAnobananobananobANanobananobanano\
bananobananobaNanobananobananobananobAnanobananobananobananobananobanano\
bananobanANobananobanaNobAnanobananobaNanobaNAnobananobananobananobanano\
bananobananobananobananobananobAnanobanaNobananobananobaNAnobananobanANo\
bananobanaNobananobananobananobananobananobaNanobananobanaNobanAnobanAno\
bananobanAno'

In [36]:
muchas_frutas.upper().count('BANANO')

0

In [52]:
muchas_frutas.lower().count('banano')

239

In [51]:
texto = 'german,paula,manual,manuela'
texto.split(',')

['german', 'paula', 'manual', 'manuela']

### Problema 4

Dado el siguiente diccionario que guarda las notas de distintos estudiantes

In [52]:
notas = {
    'Juan': [4.5, 3.7, 3.4, 5],
    'Alicia': [3.5, 3.1, 4.2, 3.9],
    'Germán': [2.6, 3.0, 3.9, 4.1]
}

calcular:

* La nota promedio de Juan (recuerde que se puede utilizar `sum` y `len` para obtener el promedio).

*Respuesta*

    4.15

In [56]:
# Escribir la solución aquí
sum(notas["Juan"])/len(notas["Juan"])

4.15